<div class="squareBlock">
  <div class="squareBlock-content">
    <div class="squareBlock-content-inner first"></div>
    <div class="squareBlock-content-inner sec"></div>
    <div class="squareBlock-content-inner third"></div>
    <div class="squareBlock-content-inner forth"></div>
    <div class="squareBlock-content-inner fifth"></div>
    <div class="squareBlock-content-inner sixth"></div>
    <div class="squareBlock-content-inner seventh"></div>
    <div class="squareBlock-content-inner eighth"></div>
    <div class="squareBlock-content-inner ninth"></div>
  </div>
</div>
